*{
    padding:0;
    margin:0;
    box-sizing:0;
    font-family:Arial, Helvetica, sans-serif;
}

body,html{
    height:100%;
    overflow-x:hidden;
    background-color:orange;
}

.conteiner{
    width:100%;
    max-width:550px;
    margin:10px auto;
    text-align:center;
}

form input{
    margin:10px 0;
    width:100%;
    max-width:150px;
    height:20px;
    outline:0;
    padding-left:2px;
}

form button{
    width:100%;
    max-width:150px;
    height:30px;
    margin:10px 0;
    border-radius:15px;
    border:0;
    cursor:pointer;
}

form button:hover{
    background-color:rgb(148, 145, 145);
}

table{
    border:2px solid black;
    width:100%;
    max-width:550px;
    margin:20px 0;
    border-collapse:collapse;
    padding:0 2%;
   box-shadow: 4px 2px 16px 6px rgba(0,0,0,0.75);
}

table tbody td{
    padding:5px 0;
}

footer{
    display:block;
}

@media screen and (max-width:768px){
    .conteiner{
        width:100%;
        max-width:100%;
    }
    form input{
        width:100%;
        max-width:86%;
    }
    form button{
        width:100%;
        max-width:68%;
    }
    table{
        margin:20px auto;
        display:block;
    }
}